body {
  background: #10110D;
  color: #DBC49C;
  font-family: 'Libre Baskerville', serif;
}

.title {
  text-align: center;
  padding-bottom: 10px;
}

.desc_div {
  text-align: center;
  font-size: 1.15vw;
  padding: 20px;
}

.row {
  display: flex;
  padding-top: 10px;
}

.column {
  flex: 33.33%;
}

.camera_pic {
  white-space: nowrap;
  display: block;
  border-radius: 25px;
  transform: rotate(-3deg);
  margin: inherit;
}

.mug {
  white-space: nowrap;
  display: block;
  border-radius: 25px;
  transform: rotate(-1deg);
  margin: inherit;
}

.blond {
  white-space: nowrap;
  display: block;
  border-radius: 25px;
  transform: rotate(1.5deg);
  margin: inherit;
}

.div_social_links {
  display: block;
  text-align: center;
  padding-bottom: 20px;
}

a {
  text-decoration: none;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 14px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: unset;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

.btn-2 {
  border: none;

}
.btn-2:before {
  height: 0%;
  width: 2px;
}
.btn-2:hover {
  box-shadow:  4px 4px 6px 0 #CFC0BD,
              -4px -4px 6px 0 rgba(116, 125, 136, .5),
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
  .div_social_links {
    display: flex;
  }
}
